<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
      <h2>Search</h2>
      <input data-ng-model="searchValue" data-ng-change="doSearchQuery()" type="text" class="form-control" placeholder="search">
      <div class="btn-group">
        <label class="btn btn-primary" data-ng-change="doSearchQuery()" data-ng-model="searchType" data-btn-radio="'artist'">Artist</label>
        <label class="btn btn-primary" data-ng-change="doSearchQuery()" data-ng-model="searchType" data-btn-radio="'album'">Album</label>
        <label class="btn btn-primary" data-ng-change="doSearchQuery()" data-ng-model="searchType" data-btn-radio="'track'">Track</label>
        <label class="btn btn-primary" data-ng-change="doSearchQuery()" data-ng-model="searchType" data-btn-radio="'tags'">Tag</label>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" data-ng-include="'template/artists-list.html'"></div>
    <div class="col-md-4"></div>
  </div>
</div>
